<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p>
        <%= contactContent %>
    </p>

    <p>CONTACT NUMBER: 9178913438</p>
    <h3>FOR MORE DETAILS MAIL TO </h3>
    <a href="#">BikashAdikari@gmail.com</a><br></br>

    <%- include("partials/footer"); -%>
